.snd {
  --fadehover: #c4dbe2;
  --borderbtn: 2.5px solid var(--portal);
  --portal: #050516;
  --textColor: #000000;
  --textHover: #fff5f5;
  --border: #020b35;
  --border2: #6b0505;
  --bgtint: #4ed9eb2f;
  --bgmain: rgb(71, 126, 179);
  --borderdisp: 3px solid var(--border);
  --borderdisp2: 3px solid var(--border2);
}

.abtslidecont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 13vh;
  left: 0vw;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 10px rgba(97, 95, 95, 0.295);
          box-shadow: 0px 0px 10px rgba(97, 95, 95, 0.295);
  width: 100vw;
  height: 70vh;
  padding-top: 90px;
  overflow: hidden;
}

.abtslidecont .image {
  width: 110vw;
  height: 130vh;
  position: relative;
  top: 0vh;
  left: 0vw;
  -webkit-filter: opacity(1);
          filter: opacity(1);
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}

.galleries {
  position: relative;
  top: 0vh;
  left: -12px;
  height: 100vh;
  width: 0vw;
  -webkit-animation: slide 30s linear infinite;
          animation: slide 30s linear infinite;
  -webkit-transition: 1000ms ease all;
  transition: 1000ms ease all;
}

.textelemets {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -90vh;
  z-index: 10;
  -webkit-animation: slideDown 3000ms ease-in 1;
          animation: slideDown 3000ms ease-in 1;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  100% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
  100% {
    -webkit-transform: translateY(5vh);
            transform: translateY(5vh);
  }
}

.coreCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  left: 25vw;
  top: 73vh;
  background-color: #01092b;
  width: 50vw;
  height: 15vh;
  z-index: 9;
}

.coreart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 0vh;
  left: 0vw;
}

.coreEL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 30px;
  left: -3vw;
  -webkit-box-shadow: 0px 0px 4px #0b3075;
          box-shadow: 0px 0px 4px #0b3075;
  background-color: #42c40e;
  width: 8vw;
  height: 14vh;
  border-radius: 50%;
  color: #ffffff;
  z-index: 10;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.coreEL:hover {
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}

.coreEL1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 30px;
  -webkit-box-shadow: 0px 0px 4px #0b3075;
          box-shadow: 0px 0px 4px #0b3075;
  background-color: #0e81c4;
  width: 8vw;
  height: 14vh;
  border-radius: 50%;
  color: #ffffff;
  z-index: 1558;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.coreEL1:hover {
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}

.coreEL2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 30px;
  left: 3vw;
  -webkit-box-shadow: 0px 0px 3px #0b3075;
          box-shadow: 0px 0px 3px #0b3075;
  background-color: #6f058a;
  border: 1px solid rgba(73, 71, 71, 0.726);
  width: 8vw;
  height: 14vh;
  border-radius: 50%;
  color: #ffffff;
  z-index: 4;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.coreEL2:hover {
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}

.visionText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 92vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  background-color: #b2b8b0;
  z-index: 1;
  cursor: default;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-box-shadow: 3px 17px 10px -10px #a3a0a0;
          box-shadow: 3px 17px 10px -10px #a3a0a0;
}

.visionText::before {
  content: "";
  position: absolute;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  left: 0vw;
  background-color: #b2b8b0;
  -webkit-filter: blur(0.4);
          filter: blur(0.4);
  border-radius: 0px 2px 0px 0px;
  border-bottom: 2px solid #42c40e;
  top: -4vh;
  width: 18vw;
  height: 5vh;
}

.visionText .vision {
  text-align: center;
  width: 40vw;
  font-size: 15px;
  line-height: 2em;
  font-weight: 500;
  color: #1c5a04;
}

.visionText1 {
  position: absolute;
  top: 92vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  background-color: #b2b8b0;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.visionText1::before {
  content: "";
  position: absolute;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  left: 16.5vw;
  background-color: #b2b8b0;
  border-radius: 0em 0em 0px 0px;
  top: -4vh;
  width: 17vw;
  height: 5vh;
}

.visionText1-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 92vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  background-color: #b2b8b0;
  z-index: 2;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.visionText1-new::before {
  content: "";
  position: absolute;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  left: 16.5vw;
  background-color: #b2b8b0;
  border-radius: 0px 2px 0px 0px;
  border-bottom: 2px solid #0e81c4;
  top: -4vh;
  width: 17vw;
  height: 5vh;
}

.visionText1-new .vision {
  text-align: center;
  width: 40vw;
  font-size: 15px;
  line-height: 2em;
  font-weight: 500;
  color: #042d44;
}

.visionText2 {
  position: absolute;
  top: 92vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  background-color: #b2b8b0;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.visionText2::before {
  content: "";
  position: absolute;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  right: 0vw;
  background-color: #b2b8b0;
  border-radius: 0px 0px 0px 0px;
  top: -4vh;
  width: 18vw;
  height: 5vh;
}

.visionText2-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 92vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  background-color: #b2b8b0;
  z-index: 4;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  -webkit-transition-delay: 80ms;
          transition-delay: 80ms;
}

.visionText2-new::before {
  content: "";
  position: absolute;
  right: 0vw;
  background-color: #b2b8b0;
  border-radius: 0px 2px 0px 0px;
  border-bottom: 2px solid #6f058a;
  top: -4vh;
  width: 18vw;
  height: 5vh;
}

.visionText2-new .vision {
  text-align: center;
  width: 40vw;
  font-size: 15px;
  line-height: 2em;
  font-weight: 500;
  color: #420352;
}

.text {
  font-family: "Oswald";
  font-size: 5ch;
  font-weight: 600;
  color: #ffffff;
  background-color: red;
  margin-left: 17vw;
  width: 40vw;
}

.article_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 55vh;
  width: 100vw;
  height: 100vh;
}

.article-main {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
}

.articleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 70vh;
  border-radius: 5px;
  background-color: #beaaaa;
}

.articleText .headers {
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  width: 14vw;
  left: 30vw;
  top: 3vw;
  float: inline-end;
}

.a-text {
  position: relative;
  left: -10vw;
  width: 29vw;
  top: 130px;
  text-align: center;
  color: black;
}

.abtimgCont {
  position: relative;
  top: -45vh;
  left: 25vw;
  width: 25vw;
  height: 45vh;
  -webkit-box-shadow: 6px 9px 8px rgba(53, 50, 50, 0.637);
          box-shadow: 6px 9px 8px rgba(53, 50, 50, 0.637);
  overflow: hidden;
}

.abtimgCont .article-img {
  position: relative;
  top: -8vh;
  left: 0vw;
  width: 25vw;
  height: 75vh;
  -webkit-box-shadow: 6px 9px 8px rgba(53, 50, 50, 0.637);
          box-shadow: 6px 9px 8px rgba(53, 50, 50, 0.637);
}
/*# sourceMappingURL=about.css.map */