@import "../../variablecomp/variable.scss";

.navcont {
  padding-top: 0vh;
  margin-top: 0px;
}
.detailskerry {
  position: absolute;
  top: 0vh;
  left: 0vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  height: 39px;
  width: 100vw;
  background-color: rgb(232, 234, 238);
  z-index: 100;

  .socials {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // background-color: red;

    .socio {
      position: relative;
      top: 2px;
      margin-left: 19px;
      height: 19px;
      width: 1.6vw;
      color: #000000;

      &:hover {
        color: #067e2a;
      }
    }
  }
  .infoCont {
    position: relative;
    left: 5vw;

    .info {
      position: relative;
      left: 0vw;
      top: -12px;
      text-align: justify;
      font-size: 12px;

      #info {
        color: #000000;
        font-family: Oswald;
        transition: 100ms ease all;

        &:hover {
          color: rgb(71, 126, 179);
        }
      }
    }
  }
}
.navsec {
  --fadehover: #c4dbe2;
  --borderbtn: 2.5px solid var(--portal);
  --portal: #050516;
  --textColor: #000000;
  --textHover: #fff5f5;
  --border: #020b35;
  --border2: #6b0505;
  --bgtint: #4ed9eb2f;
  --bgmain: rgb(71, 126, 179);
  --borderdisp: 3px solid var(--border);
  --borderdisp2: 3px solid var(--border2);
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: var(--bgmain);
  width: 100vw;
  height: 90px;
  top: 38px;
  left: 0;
  z-index: 520;
  transition: 300 ease all;
  // box-shadow: 0px 3px 8px rgb(201, 197, 197);
  .logo {
    position: relative;
    left: -8vw;
    width: 5vw;
    height: 9.5vh;
  }
  .navel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 3.6vw;
  }
  .page {
    position: relative;
    top: 1.5vh;
    left: 9vw;
    margin-top: 0px;
    padding-top: 6px;
    text-align: center;
    width: 5.5vw;
    height: 50px;
    background-color: transparent;
    letter-spacing: 2.1px;
    box-shadow: 0px 3px 1px $literbluetheme;
    // border-left: var(--borderdisp);
    color: $textWhite;
    font-size: 14px;
    transition: 500ms ease all;
    z-index: 100;

    &::after {
      content: "";
      position: absolute;
      opacity: 1;
      top: 0px;
      left: -2px;
      width: 2px;
      height: 30px;
      background-color: var(--portal);
      filter: opacity(0.7);
      border-radius: 5px;
      transition: 500ms ease all;
    }

    &:hover {
      background-color: var(--bgtint);
      color: var(--textHover);
      // border-left: var(--borderdisp2);
      border-radius: 1px;
      width: 5.5vw;
      height: 50px;
      padding-top: 6px;
      top: 2.6vhvh;
      border-radius: 5px;
      // border-left: 5px solid green;
      cursor: pointer;
      &::after {
        opacity: 1;
        width: 2px;
        height: 2px;
        background-color: var(--portal);
      }
    }
  }
  .page-sub {
    position: absolute;
    top: -0.9vh;
    left: 15.4vw;
    z-index: -3;
    width: 5vw;
    font-size: 10px;
    font-weight: 700;
    color: $darkbluetheme;
    letter-spacing: 0.7px;
    line-height: 1em;
    cursor: pointer;
  }
  .menu-icon {
    position: relative;
    top: -2.5vh;
    width: 9px;
    left: 11.9vw;
    color: $darkbluetheme;
  }
  .shadowcont {
    // background-color: pink;
    width: 50vw;
    height: 6vh;
    position: absolute;
    left: 32vw;
    top: 0px;
    z-index: -4;
  }
  .shadowcontfix1 {
    width: 3vw;
    height: 8vh;
    position: absolute;
    left: 31.7vw;
    top: 32px;
    z-index: 0;
    background-color: transparent;
  }
  .shadowcontfix {
    width: 45vw;
    height: 8vh;
    position: absolute;
    left: 35vw;
    top: 32px;
    z-index: -4;
    background-color: transparent;
  }
  // .shadowUl {
  //   position: relative;
  //   top: 20px;
  //   left: 0vw;
  //   z-index: -7;
  //   // background-color: #c00909;
  // }
  .portal {
    position: relative;
    left: 58vw;
    top: 25px;
    width: 120px;
    letter-spacing: 2px;
    height: 45px;
    border: var(--borderbtn);
    border-radius: 10px;
    color: var(--textColor);
    background-color: transparent;
    box-shadow: 0px 0px 6px rgb(115, 130, 216);
    font-size: 16px;
    font-weight: 700;
    transition: 500ms ease all;
    z-index: 50;

    &:hover {
      color: var(--textHover);
      background-color: var(--portal);
    }
  }
}

.nav-sticky {
  --textstickyColor: #d4c9c93f;
  --textColor: #d4c9c9;
  --border: rgb(71, 126, 179);
  --border2: #c00909;
  --bgmain: #01092b;
  --bgtint: #4462e9;
  --portal: transparent;
  --borderdisp: 3px solid var(--border);
  // display: flex;
  // justify-content: center;
  position: fixed;
  top: -10px;
  left: 0px;
  // background-color: rgb(3, 19, 34);
  width: 100vw;
  height: 105px;
  z-index: 899;

  .logo {
    position: relative;
    top: 1.7vh;
    left: -8vw;
    width: 5vw;
    height: 9.5vh;
    background-color: white;
    border-radius: 60px;
  }
  .navel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 3.6vw;
  }
  .page {
    position: relative;
    top: 1.9vh;
    left: 9vw;
    margin-top: 0px;
    padding-top: 6px;
    text-align: center;
    width: 5.5vw;
    height: 50px;
    background-color: transparent;
    letter-spacing: 2.1px;
    box-shadow: 0px 3px 1px $literbluetheme;
    // border-left: var(--borderdisp);
    color: $textWhite;
    font-weight: 700;
    font-size: 14px;
    transition: 500ms ease all;
    z-index: 100;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   opacity: 1;
    //   top: 0px;
    //   left: -2px;
    //   width: 2px;
    //   height: 44px;
    //   background-color: var(--bgtint);
    //   filter: opacity(0.7);
    //   border-radius: 5px;
    //   transition: 500ms ease all;
    // }

    &:hover {
      background-color: var(--textstickyColor);
      color: var(--textHover);
      // border-left: var(--borderdisp2);
      border-radius: 1px;
      width: 5.5vw;
      height: 50px;
      padding-top: 6px;
      top: 1.9vh;
      border-radius: 5px;
      // border-left: 5px solid green;
      cursor: pointer;
      &::after {
        opacity: 1;
        width: 2px;
        height: 2px;
        background-color: var(--portal);
      }
    }
  }
  .page-sub {
    position: absolute;
    top: -4px;
    left: 15.4vw;
    z-index: -3;
    width: 5vw;
    -moz-font-size: 10px;
    -webkit-font-size: 10px;
    font-size: 10px;
    color: $literbluetheme;
    cursor: pointer;
  }
  .menu-icon {
    position: relative;
    top: -1.4vh;
    width: 9px;
    left: 11.9vw;
    color: $literbluetheme;
  }
  .shadowcont {
    // background-color: pink;
    width: 50vw;
    height: 6vh;
    position: absolute;
    left: 32vw;
    top: 0px;
    z-index: -4;
  }
  .shadowcontfix1 {
    width: 3vw;
    height: 8vh;
    position: absolute;
    left: 31.7vw;
    top: 32px;
    z-index: 0;
    background-color: transparent;
  }
  .shadowcontfix {
    width: 45vw;
    height: 8vh;
    position: absolute;
    left: 35vw;
    top: 32px;
    z-index: -4;
    background-color: transparent;
  }
  // .shadowUl {
  //   position: relative;
  //   top: 20px;
  //   left: 0vw;
  //   z-index: -7;
  //   // background-color: #c00909;
  // }
  .portal {
    position: relative;
    left: 58vw;
    top: 43px;
    width: 120px;
    letter-spacing: 2px;
    height: 45px;
    border: var(--borderbtn);
    border-radius: 10px;
    color: var(--textColor);
    background-color: transparent;
    box-shadow: 0px 0px 6px rgb(115, 130, 216);
    font-size: 16px;
    font-weight: 700;
    transition: 500ms ease all;
    z-index: 50;

    &:hover {
      color: var(--textHover);
      background-color: $literbluetheme;
    }
  }
  // .navbar {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   list-style: none;
  //   width: 10vw;
  //   position: relative;
  //   top: -5px;
  //   color: rgb(0, 0, 0);
  //   border-left: none;
  //   margin-left: -100px;

  //   .page-sub {
  //     position: relative;
  //     top: -10vh;
  //     left: -4.8vw;
  //     z-index: -1;
  //     width: 9rem;
  //     font-size: 8px;
  //     color: $literbluetheme;
  //     cursor: pointer;
  //   }
  // }
  // .navel {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }
  // .page {
  //   position: relative;
  //   font-family: "oswald";
  //   top: -4.6vh;
  //   left: -7vw;
  //   margin-top: 0px;
  //   padding-top: 6px;
  //   text-align: center;
  //   width: 5.5vw;
  //   height: 50px;
  //   background-color: transparent;
  //   letter-spacing: 2.1px;
  //   // outline: 1px solid red;
  //   // border-left: var(--borderdisp);
  //   color: $textWhite;
  //   font-weight: 700;
  //   font-size: 15px;
  //   transition: 500ms ease all;

  //   &::after {
  //     content: "";
  //     position: absolute;
  //     opacity: -1;
  //     top: 0vh;
  //     left: -1px;
  //     width: 3px;
  //     height: 2px;
  //     background-color: transparent;
  //     // border-radius: 5px;
  //     transition: 500ms ease all;
  //   }

  //   &:hover {
  //     background-color: var(--textstickyColor);
  //     color: var(--textHover);
  //     // border-left: var(--borderdisp2);
  //     // border-radius: 5px;
  //     width: 5.5vw;
  //     height: 50px;
  //     margin-top: 0px;
  //     padding-top: 6px;
  //     top: -10vh;
  //     // border-left: 5px solid green;
  //     cursor: pointer;
  //     &::after {
  //       opacity: 0;
  //       top: 0px;
  //       width: 3px;
  //       height: 2px;
  //       background-color: $literbluetheme;
  //     }
  //   }
  // }

  // nav.navg {
  //   position: relative;
  //   top: 25px;
  //   left: 10vw;
  //   display: inline-flex;
  //   background-color: transparent;
  //   margin-top: 100px;
  //   align-items: center;
  //   justify-content: center;
  // }
  // .portal {
  //   position: relative;
  //   left: 58vw;
  //   top: 43px;
  //   width: 120px;
  //   letter-spacing: 2px;
  //   height: 45px;
  //   border: 1px solid rgba(255, 255, 255, 0.37);
  //   border-radius: 10px;
  //   color: var(--textColor);
  //   background-color: transparent;
  //   box-shadow: 0px 0px 6px rgb(115, 130, 216);
  //   font-size: 16px;
  //   font-weight: 700;
  //   transition: 500ms ease all;
  //   z-index: 50;

  //   &:hover {
  //     color: var(--textHover);
  //     background-color: $literbluetheme;
  //   }
  // }
  // .page-sub {
  //   position: relative;
  //   top: -9.4vh;
  //   left: -9.3vh;
  //   z-index: -1;
  //   font-size: 11px;
  //   color: $literbluetheme;
  //   cursor: pointer;

  //   // position: relative;
  //   // top: -13vh;
  //   // left: -4.7vw;
  //   // z-index: -1;
  //   // width: 9rem;
  //   // font-size: 11px;
  //   // color: $darkbluetheme;
  //   // cursor: pointer;
  // }
  // .menu-icon {
  //   position: relative;
  //   top: -14vh;
  //   width: 10px;
  //   left: 60px;
  //   color: $literbluetheme;
  // }

  // transition: 200ms ease all;
  // filter: opacity(0.9) brightness(0.4);
}
// .nav-sticky.page {
//   color: aliceblue;
// }
nav.navg {
  position: relative;
  -webkit-top: -7vh;
  top: -6vh;
  left: -10vw;
  display: inline-flex;
  // background-color: yellow;
  margin-top: 100px;
  align-items: center;
  width: 8vw;
  justify-content: center;
}

// .navbar {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   list-style: none;
//   width: 4vw;
//   hei
//   position: relative;
//   top: 0px;
//   color: rgb(0, 0, 0);
//   border-left: none;
//   margin-left: -100px;
//   background-color: #3f1466;
// }

// .page {
//   margin-top: 0px;
//   padding-top: 10px;
//   text-align: center;
//   width: 7vw;
//   height: 30px;
//   background-color: transparent;
//   border-left: none;
//   font-weight: 700;
//   font-size: 15px;
//   transition: 500ms ease all;
// }

// .navbar:hover {
//   border-left: 5px solid green;
// }

h3 {
  position: relative;
  top: 29px;
}
